html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'roboto', sans-serif;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.container-header {
  background-color: rgb(32, 105, 201);
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input {
  width: 300px;
}

.gallery {
  padding: 0 15px;
}
