html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'roboto', sans-serif;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.container-header {
  background-color: rgb(32, 105, 201);
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input {
  width: 300px;
}

.icons {
}

.gallery {
  padding: 0 15px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.load-more {
  display: none;
  margin: 0 auto;
  padding: 15px;
  width: 300px;
  font-size: 25px;

  color: white;
  background-color: #2c61d3;
  border: none;
  border-radius: 10%;
}

.load-more:hover,
.load-more:focus {
  cursor: pointer;
  background-color: #2654b6;
}

.photo-card {
  margin-bottom: 15px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.info {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
